.table {
    line-height: 3;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.head {
    border-bottom: 2px solid black;
}

.body {
    border-bottom: 1px solid lightgrey;
}

.del {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    padding: 10px;
    text-decoration: none;
    width: 40%;
    cursor: pointer;
}
